<h2 id="title_about_aksts">Об АНТОК</h2>
<div class="row frontpage">
  <div class="col-md-6">
    <div class="info_wrapper">
      <div class="info_about">
        Ассоциация научно-технических обществ корейцев (АНТОК) является некоммерческой организацией, созданной для развития и укрепления Российской диаспоры корейцев путем популяризации науки и образования среди молодежи, установления научных и профессиональных связей между представителями диаспоры, развития сотрудничества между научными сообществами корейцев, проживающих в других странах.
      </div>
      <h3 id="activity"> Деятельность</h3>
      <div class="list_of_activities">
        <ul>
          <li>Организация ежегодных международных конференций научно-практических конференций и региональных семинаров;</li>
          <li>Поддержка участия ученых АНТОК в международных научных конференция, проводимых за рубежом;</li>
          <li>Организация и информационная поддержка мероприятий, связанных с вовлечением молодежи в международные научные и образовательные программы;</li>
          <li>Представительство российских ученых в KOFST (Korean Federation of Science and Technology), Республика Корея;</li>
          <li>и многое другое.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="about_img">
      <%= image_tag "about_1.jpg", class: "img-responsive", alt: "Всемирная Ассамблея KOFST, 2013" %>
      <h5 id="image_title">Всемирная Ассамблея KOFST, 2013</h5>
    </div>
    <div class="about_img">
      <%= image_tag "about_2.jpg", class: "img-responsive", alt: "Всемирная Ассамблея KOFST, 2013" %>
      <h5 id="image_title">Young Generation Science Conference, Afterparty, 2016
      </h5>
    </div>
  </div> 
</div>