<h2 id="title_about_conf">Как добраться</h2>
<div class="row frontpage">
  <div class="col-md-6">
    <p id ="info_about_aksts">Гостиница Холидей Инн Москва Сущевский, находится в нескольких шагах от Проспекта Мира, одной из главных улиц Москвы.</p>
    <p>Отель расположен всего лишь в 5 км от Красной площади, культурного и исторического центра города с его галереями, лучшими концертными залами и театрами страны. 10 минут на машине или 4 остановки на метро без пересадок от отеля Холидей Инн Москва Сущевский и Вы окажетесь около ВДНХ или Кремля.</p>
    <p><b style="color: red;">Внимание!</b> C 22 августа 2020 «Рижская» закрыта на ремонт на 12 месяцев.</p>
    <p>Добраться до отеля можно бесплатным компенсационным маршрутом КМ «Метро «Проспект Мира» - Метро «Рижская», работающим ежедневно с 05.30 утра до 02:00 ночи. <a href="https://www.mosmetro.ru/press/news/3716/?type=m" target="_blank">Подробнее о компенсационных маршрутах до Метро «Рижская»</a></p>
    <br>
    <p><b>Адрес:</b> г. Москва, ул. Сущевский Вал, д. 74</p>
    <p><b>Телефон:</b> +7-(495)-225-82-82</p><br>
    <p><b>E-mail:</b> reservations@hi-mole.ru</p>
    <p><b>Сайт: </b><a href="https://moscow-hi.ru/suschevsky/" target="_blank">Холидей Инн Сущевский</a></p>
  </div>
  <div class="col-md-6">
    <%= image_tag "hotel2020/hotel.jpeg", class: "img-responsive", alt: "Холидей Инн Сущевский" %>
    <h5 id="image_title">Холидей Инн Сущевский</h5>
  </div>   
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Из аэропорта Шереметьево</h4>
    <p><b>На аэроэкспрессе:</b> Приехав на Белорусский вокзал, войдите в метро, перейдите на станцию Белорусская кольцевая, проследуйте 2 станции до станции "Проспекта Мира". Выйдите из метро и воспользуйтесь бесплатным автобусом КМ "Проспект Мира - Рижская". Проехав 1 остановку, выйдите у метро "Рижская" и перейдите по подземному переходу ко входу в гостиницу.</p>
    <p><b>На автобусе:</b> Воспользуйтесь автобусами и маршрутными такси от аэропорта до метро "Речной вокзал" (авт. 851, м.т. 949) или "Планерная" (авт. 817, м.т. 948). Отправление автобусов каждые 15 минут, с 05:30 до 00:00. Далее следуйте схеме пересадок в метро от станции Вашей посадки до станции "Проспект Мира". Выйдите из метро и воспользуйтесь бесплатным автобусом КМ "Проспект Мира - Рижская". Проехав 1 остановку, выйдите у метро "Рижская" и перейдите по подземному переходу к гостинице.</p>
    <br/>
    <h4>Из аэропорта Домодедово</h4>
    <p><b>На аэроэкспрессе:</b> Отправление из аэропорта каждые полчаса с 06:00 до 00:30. Из аэропорта доехать до Павелецкого вокзала, проехать на метро от «Павелецкая» радиальная до «Новокузнецкой», перейти на «Третьяковскую» и проследовать до станции «Проспект Мира» и далее на бесплатном автобусе КМ "Метро "Рижская" - Метро "Проспект Мира" до станции метро "Рижская" (1 остановка). Далее по подземному переходу к отелю. График работы бесплатного автобуса: с 5 утра до 2 часов ночи.</p>
    <p><b>На автобусе:</b> На автобусе (308) или маршрутном такси (308) до метро «Домодедовская». Автобусы отправляются каждые 15 минут с 06:00 до 00:00. Затем на метро до станции «Проспект Мира», далее на бесплатном автобусе КМ "Метро "Рижская" - Метро "Проспект Мира" до станции метро "Рижская" (1 остановка). Далее по подземному переходу к отелю. График работы бесплатного автобуса: с 5 утра до 2 часов ночи.</p>
    <br/>
    <h4>Из аэропорта Внуково</h4>
    <p><b>На аэроэкспрессе:</b> На аэроэкспрессе до станции метро Киевская, затем на метро до станции "Проспект Мира" и на бесплатном автобусе КМ "Метро "Рижская" - Метро "Проспект Мира" до станции метро "Рижская" (1 остановка), далее по подземному переходу к отелю. График работы бесплатного автобуса: с 5 утра до 2 часов ночи.</p>
    <p><b>На автобусе:</b> На автобусе (№ 611, 611 с) до станции метро Юго-Западная. Отправление автобусов каждые 15 минут с 05:00 до 01:00. Доехать до станции "Чистые пруды", перейти на "Тургеневскую", продолжить движение до станции "Проспект Мира" и далее на бесплатном автобусе КМ "Метро "Рижская" - Метро "Проспект Мира" доехать до станции метро "Рижская" (1 остановка), далее по подземному переходу к отелю. График работы бесплатного автобуса: с 5 утра до 2 часов ночи.</p>
    <br/>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row frontpage">
  <div class="col-md-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.061385646635!2d37.62661425143739!3d55.79217198046849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b535f5ce326d27%3A0x9daad4e95fae0d51!2z0YPQuy4g0KHRg9GJ0ZHQstGB0LrQuNC5INCS0LDQuywgNzQsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMjkyNzI!5e0!3m2!1sru!2s!4v1627295695367!5m2!1sru!2s" width="100%" height="450" frameborder="0" style="border:0"></iframe>
  </div>
</div>
