<h2 id="title_about_aksts">Приветственное слово</h2>
<div class="row frontpage">
  <div class="col-md-3">
    <%= image_tag "ten.jpg", class: "img-responsive" %>
  </div>
  <div class="col-md-9">
    <h4><b>ТЕН Эдис Борисович</b></h4>
    <label>Президент НТО «АНТОК» (Ассоциация научно-технических обществ корейцев)</label>
    <h3><center>Уважаемые коллеги!</center></h3>
    <br/>
    <div class="justify">
      <p>Приглашаю Вас принять активное участие в работе очередной Международной конференции по науке и технологиям «Россия-Корея-СНГ», которая состоится в подмосковном доме отдыха!</p>
      <p>Организаторами нынешней XVIII-ой конференции являются Общероссийское объединение корейцев и Корейская федерация научно-технологических обществ (Республика Корея), а со-организаторами -  Научно-технические общества России «АНТОК», Казахстана «КАХАК» и Узбекистана «ТИНБО».</p>
      <p>Конференция проводится под девизом “SCIENCE. FRIENDSHIP. COLLABORATION. В программе конференции предусмотрены торжественное открытие, пленарное и секционные заседания, специальная программа из тематических семинаров, включая молодежный. В рамках конференции планируется организация мероприятий для обсуждения актуальных вопросов научно-технического сотрудничества корейцев, проживающих в странах СНГ и Республике Корея. Планируется также интересная культурная программа.</p>
      <br/>
      <p>Ждем Вас на конференции!</p>
      <br/>
      <p><b>ТЕН Эдис Борисович</b></p>
      <p>Президент НТО «АНТОК»</p>
    </div>
  </div> 
</div>
