<% if params[:locale]=='en' %>
    <div style="padding-bottom:30px">
        <%= image_tag "eng.png", alt: "" %>  
    </div>
    <div style="width:673px">
        <p style="text-align:center">
        <font face="Arial, sans-serif"><font size="5">XV RUSSIA - KOREAN
        <br>SCIENTIFIC AND TECHNICAL CONFERENCE</font></font></p>
        <p style="text-align:center">
        <font face="Arial, sans-serif">Yekaterinburg, Ural Federal University</font></p>
        <p style="text-align:center">
        <font face="Arial, sans-serif">04 ~ 05 July, 2014</font></p>
        <p style="text-align:center;"><%= link_to "Download conference program (Eng.)", '/docs/Program_ENG_5.pdf'%></p> 
    </div>    
    <table width="666" cellpadding="2" cellspacing="0">
        <colgroup><col width="97">
        <col width="559">
        </colgroup><tbody><tr>
            <td colspan="2" width="660" height="44" bgcolor="#f3f3f3" style="border: 1px solid #000000; padding: 0.02in">
                <p class="western" align="CENTER" style="text-indent: 0.1in"><font face="Arial, sans-serif"><b>July
                3 – Thursday</b></font></p>
            </td>
        </tr>
        <tr>
            <td width="97" height="35" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">14<sup>00</sup>
                – 18<sup>00</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.18in; text-indent: 0.1in">
                <font face="Arial, sans-serif">Hotel check-In</font></p>
            </td>
        </tr>
        <tr>
            <td width="97" height="38" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western" style="margin-bottom: 0in"><font face="Arial, sans-serif">19<sup>00</sup>
                – 20<sup>30</sup></font></p>
                <p class="western"><font face="Arial, sans-serif">22<sup>30</sup>
                - 23<sup>30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.18in; text-indent: 0.1in">
                <font face="Arial, sans-serif">Welcome dinner (restaurant
                "Seoul-Tashkent")</font></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="660" height="41" bgcolor="#f3f3f3" style="border: 1px solid #000000; padding: 0.02in">
                <p class="western" align="CENTER" style="margin-bottom: 0in"><font face="Arial, sans-serif"><b>July
                4 - Friday</b></font></p>
                <p class="western" align="CENTER" style="text-indent: 0.1in"><br>
                </p>
            </td>
        </tr>
        <tr>
            <td width="97" height="40" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">9<sup>:00 </sup>–
                9<sup>:30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.18in"><font face="Arial, sans-serif">Registration
                of participants (Academic Council Hall)</font></p>
            </td>
        </tr>
        <tr>
            <td width="97" height="39" valign="TOP" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">9<sup>:30</sup>
                – 10<sup>:30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Opening ceremony:</font></p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif">President of AKSTS
                Russia</font></p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Silin
                Yakov Petrovich</b> – Deputy Chairman of Sverdlovsk region’s
                Government</span></font></font></p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font color="#000000"><font face="Arial, sans-serif"><font size="3"><b>Lee
                Seung Jong </b></font></font></font><font color="#000000"><font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff">-</span></font></font></font>
                <font color="#000000"><font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff">Vice
                President of KOFST</span></font></font></font></p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Koksharov
                Victor Anatolyevich </b>– Rector of Ural Federal University.</span></font></font></p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b><span style="background: #ffffff">Shin
                Mee Kyung </span></b><span style="background: #ffffff">– Attache
                for Education, Science and the Technology Embassy of Republic of
                Korea.</span><br><b><span style="background: #ffffff">Kim
                Vyacheslav Nikolayevich </span></b><span style="background: #ffffff">–
                General Director of All-Russian Union of Koreans</span></font></p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Lim
                Sang Hyun </b>-  Director of the Center for Korean-Russian
                cooperation on science and technology</span></font></font></p>
                <p class="western" style="margin-left: 0.18in"><font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Tsoy
                Alexey Danilovich</b> – Honorary President of AKSTS Russia</span></font></font></p>
            </td>
        </tr>
        <tr>
            <td width="97" height="45" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">10<sup>:30 </sup>–
                11<sup>:20</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Plenary talk</font></p>
                <p class="western" style="margin-left: 0.18in; text-indent: 0.08in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Son
                Eduard Evgenyevich  </b>- corresponding member of RAS, "Actual
                Problems of Thermal Physics and Energy»</span></font></font></p>
                <p class="western" style="margin-left: 0.18in; text-indent: -0in"><font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Park
                Byoung Chul </b>-<b> </b>Korea Research Institute of Bioscience &amp;
                Biotechnology, Daejeon, Korea, «Overview of life Science in KRIBB
                and Korea »</span></font></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="18" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">11<sup>:20</sup>
                – 11<sup>:30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.18in"><font face="Arial, sans-serif">Coffee
                break</font></p>
            </td>
        </tr>
        <tr>
            <td width="97" height="133" valign="TOP" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">11<sup>:30</sup>
                – 13<sup>:20</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Workshops:</font></p>
                <p class="western" align="CENTER" style="margin-left: 0.08in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>BIOTECHNOLOGY</b></font></p>
                <p class="western" align="CENTER" style="margin-left: 0.08in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Chairman: professor
                Kim G. Robert. Academic Council Hall</i></font></font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">T.A.  Platonova    
                Epidemiological importance of chronic viral hepatitis patients in
                familial-room foci of infection</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Cho Sa Yeon  Protein
                tyrosine phosphatases on apoptosis and inflammation</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">R.G. Kim              
                Molecular markers in cotton plant selection</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Cho
                Kyung-Hyun  High-density lipoprotein (hdl) in aging-related disease
                and non-soluble drug delivery using hd</font></p>
                <p class="western" align="JUSTIFY" style="margin-left: 1.46in; margin-right: 0.08in; text-indent: -1.38in; margin-bottom: 0in; widows: 0; orphans: 0">
                <font face="Arial, sans-serif">M.T. Ri             
                The mathematical model of rob, marr, mara regulatory circuit of
                E<i>scherichia coli</i> gene network</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Je Kyung Seong  
                Annotation of human genome through mouse phenotypinghigh-density
                lipoprotein (hdl) in aging-related disease and non-soluble drug
                delivery using hd</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">D.L. Tsoy             
                 Liver transplantation for patients with hepatocellular carcinoma</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>ENERGY, MECHANICS, ENGINEERING</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i><span lang="en-US">Chairman:
                professor Kim A. Vladimir. Auditorium </span>И<span lang="en-US">-310</span></i></font></font></p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">V.A. Kim Kinetics of
                structural transformations of hardened steel 15x5M during
                tempering</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">A.D. Khvan   Development
                of innovative technologies preliminary thermo mechanical
                processing (ptmp) for increase of firmness of cutting and
                measuring tools</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Ryu Jae
                Yeol    Development of vehicle speed and size measuring system for
                vehicle classification without mechanical scanning</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">G.C. Cho UPS and the
                load compatibility in auxiliary power systems of nuclear power
                stations</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Yoo Pyeong Jun  
                Flexible pavement dynamic response analysis and validation for
                various truck-tire configurations</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">K.E. Son New
                electrical discharges in gas-liquid medium for ecological
                applications</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">G.N. Khan    Embankment
                stability loss modeling using discrete element method </font>
                </p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">P.А. Tsoy    Finite
                element modeling of compression tests</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">K.S. Pak Efficiency of
                application of steel frames with prestressed girth rail in far
                east region </font>
                </p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>CHEMISTRY, NEW MATERIALS</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i><span lang="en-US">Chairman:
                professor Tkhay D. Valery. Auditorium </span>М-324</i></font></font></p>
                <p class="western" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">E.B.
                Ten Thermodynamics of chromium carbide forming in low chromium
                cast iron during of it modifying</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Jang
                Mongjoo Определение 1,1-диметилгидразина
                методом тандемной газовой
                хромато-масс-спектрометрии</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Kim Jung Keun    <b> 
                </b>Direct Synthesis Of 1,3-Diketones From Carboxylic Acids And
                Ketones. Development Of The Claisen Condensation</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">N.O.Kim  Comparison of
                the quality of pharmaceutical raw herb yarrow (Achillea millefolii
                herba) from different manufacturers by the presence in them of
                essential oils</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">H.J. Choi    Mechanical
                Properties Of Al/C60 Composites With Nano-Network Structures</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Lee Jae-Seung</font>
                    <font face="Arial, sans-serif">Synthesis and
                reversible assembly of plasmonic nanoparticles</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">N.V.
                Kuzmina Antibacterial bandage based nanoclusters oxyhydrate gels
                zirconium, iron, yttrium amid switch of carbon</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">V.D. Tkhai            
                Ieraction of silica dioxide and AEM chlorides fusions</font></p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>INTERDISCIPLINARY</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i><span lang="en-US">Chairman:
                professor Pak I. Nikolay. Auditorium </span>И<span lang="en-US">-306</span></i></font></font></p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">A.I. Ten              
                  Heading urals: social portrait of the modern koreans of the
                middle Ural.</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">A.V. Kim The
                motivation of volunteers’ work activity (on the basis of korean
                youth committee association in Rostov region)</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">N.E. Kim Research
                activities as a work form with gifted children</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">N.I. Pak Expert system
                based mental scheme</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">E.K. Khe Baggage of
                future engineer: mathematical ABC and its availability</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">D.V. Shin    The
                participation of the soviet koreans in World War II</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">I.B. Fan              
                  Dignity of Russian citizen</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">N.O. Li  The analysis
                of influence of the special economic zone law on the furniture
                industry of the Kaliningrad region</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in">
                <font face="Arial, sans-serif">S.E. Yun Problems of
                wood processing development: Khabarovsky Krai case study</font></p>
            </td>
        </tr>
        <tr>
            <td width="97" height="33" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">13<sup>:30</sup>
                – 14<sup>:30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.1in"><font face="Arial, sans-serif">Lunch
                (Cafe in Ural Federal University)</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="30" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">14<sup>:40</sup>
                – 16<sup>:40</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.1in; margin-bottom: 0in"><font face="Arial, sans-serif">Workshops:</font></p>
                <p class="western" align="CENTER" style="margin-left: 0.08in; text-indent: 0in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>BIOTECHNOLOGY</b><u><b>
                </b></u>(continued)</font></p>
                <p class="western" align="CENTER" style="margin-left: 0.08in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Chairman: professor
                Kim G. Robert. Academic Council Hall</i></font></font></p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">I.K.
                Bessergeneva    Epidemiology of enteroviral infections with clinical
                type of serous meningitis</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Hong Seok
                Cheol   Nanoscopic conformational diversity and dynamics of DNA</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">О.I. Khvan   Lesion of
                kidneys by blunt objects in alive people and its morphologic
                features</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Woo E.J. Structural
                and functional studies on the csm complex in crispr/cas system
                from t. onnurineus</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">V.L. Yun Influence
                salts of heavy metals on plant productivity Horseradish</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">N.E. Polyakova     The
                variability of mitochondrial and nuclear DNA of the Far eastern
                redfin <i>Tribolodon hakonensis</i> Tribolodon species complex on
                the  russian part of the area (Pisces, Cyprinidae)</font></p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>INFORMATION TECHNOLOGY </b></font>
                </p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i><span lang="en-US">Chairman:
                professor Kim L. Valeriy. Auditorium </span>И-310</i></font></font></p>
                <p class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">I.E.
                Kan Computer-aided design based on discrete optimization of one
                assortment group of complex products</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">V.L. Kim Installation
                for researching medical electrodes</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">R.V. Kim Neuro-fuzzy
                aircraft subsystems failure diagnosis</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">P.A. Kim 4D
                сamera-obscūra</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">L.B. Khegay  Mental
                textbook as an electronic teacher</font></p>
                <p class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">V.S.
                Khon    Effectiveness of the drug from plant extracts, as a stimulant
                for potatoes</font></p>
                <p class="western" align="CENTER" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" align="CENTER" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>MATHEMATICS, PHYSICS</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i><span lang="en-US">Chairman:
                Dr. Tsoi M. Oleg, Auditorium </span>М<span lang="en-US">-324</span></i></font></font></p>
                <p class="western" align="CENTER" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <br>
                </p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">K.N. Yugay   On the
                possible nature of "room-temperature" superconductivity</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">А.V. Kim The ordinary
                multiplication of generalized function</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">D.P. Kim Determination
                of normalized transfer functions</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">B. Tsoi               
                   Laminated "room-temperature" superconductor</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">V.T. Em  Residual
                stress measurement in bulk samples by neutron diffraction</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">V.E. Kan Analysis of
                defects in multi-walled carbon nanotubes after thermal and
                chemical treatments</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in">
                <font face="Arial, sans-serif">O.M. Tsoi    Radiolysis
                in the atmosphere-pedosphere system and the mechanism of ignition
                in forests containing essential oils</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="24" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p class="western"><font face="Arial, sans-serif">16<sup>:40</sup>
                – 17<sup>:00</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.1in"><font face="Arial, sans-serif">Coffee
                break</font></p>
            </td>
        </tr>
        <tr>
            <td width="97" height="24" valign="TOP" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">17<sup>:00</sup>
                – 17<sup>:40</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.08in; text-indent: 0.02in">
                <font face="Arial, sans-serif">Seminar "High quality
                scientific paper» by A. Loktev, <font size="3">key decisions
                advisor (Publishing house «Elsevier»)</font></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="31" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p class="western"><font face="Arial, sans-serif">17<sup>:40</sup>
                – 18<sup>:10</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="text-indent: 0.1in"><font face="Arial, sans-serif">Conference
                evaluation</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="29" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p class="western"><font face="Arial, sans-serif">18<sup>:30 </sup>–
                22<sup>:00</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Banquet
                (Restaurant "Seoul-Tashkent")</font></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="660" height="45" bgcolor="#f3f3f3" style="border: 1px solid #000000; padding: 0.02in">
                <p class="western" align="CENTER" style="text-indent: 0.1in"><font face="Arial, sans-serif"><u><b>July
                5 – Saturday</b></u></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="30" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">8<sup>:00</sup>
                – 11<sup>:30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Excursion</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="30" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">11<sup>:30</sup>
                – 11<sup>:45</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Hotel
                check-out</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">11<sup>:45</sup>
                – 12<sup>:45</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Lunch
                (Restaurant "Seoul-Tashkent")</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="45" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p class="western"><font face="Arial, sans-serif">13<sup>:00</sup>
                – 15<sup>:30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Ceremonial
                meeting and a concert dedicated to the Anniversary of the
                voluntary resettlement of Koreans in Russia</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="97" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p class="western"><font face="Arial, sans-serif">15<sup>:30</sup>
                – 16<sup>:30</sup></font></p>
            </td>
            <td width="559" style="border: 1px solid #000000; padding: 0in">
                <p class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Furshet</font></p>
            </td>
        </tr>
    </tbody></table>
<% else %>
    <div style="padding-bottom:30px">
        <%= image_tag "rus.png", alt: "" %> 
    </div>
    <div style="width:673px">
        <p style="text-align:center">
        <font face="Arial, sans-serif"><font size="5"><span lang="en-US">XV</span>
        РОССИЙСКО – КОРЕЙСКАЯ </font></font>
        </p>
        <p style="text-align:center">
        <font face="Arial, sans-serif"><font size="5">НАУЧНО–ТЕХНИЧЕСКАЯ
        КОНФЕРЕНЦИЯ</font></font></p>
        <p style="text-align:center">
        <font face="Arial, sans-serif">Екатеринбург, Уральский
        Федеральный университет</font></p>
        <p style="text-align:center">
        <font face="Arial, sans-serif">04 ~ 05 июля 2014</font></p>
        <p style="text-align:center;"><%= link_to "Скачать программу конференции (Рус.)", '/docs/Program_RU_5.pdf' %></p> 
    </div>   
    <table width="673" cellpadding="2" cellspacing="0">
        <colgroup><col width="99">
        <col width="564">
        </colgroup><tbody><tr>
            <td colspan="2" width="667" height="28" bgcolor="#f3f3f3" style="border: 1px solid #000000; padding: 0.02in">
                <p lang="ru-RU" class="western" align="CENTER" style="text-indent: 0.1in">
                <font face="Arial, sans-serif"><u><b>3 июля – четверг</b></u></font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="27" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">14<sup>00</sup>
                – 18<sup>00</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.18in"><font face="Arial, sans-serif">Заезд<font color="#000000">
                в гостиницу</font></font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="38" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western" style="margin-bottom: 0in"><font face="Arial, sans-serif">19<sup>00</sup>
                – 20<sup>30</sup></font></p>
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">22<sup>30</sup>
                - 23<sup>30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.18in"><font face="Arial, sans-serif">Приветственный<font color="#000000">
                ужин (ресторан «Сеул-Ташкент»)</font></font></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="667" height="24" bgcolor="#f3f3f3" style="border: 1px solid #000000; padding: 0.02in">
                <p lang="ru-RU" class="western" align="CENTER" style="text-indent: 0.1in">
                <font face="Arial, sans-serif"><u><b>4 июля – пятница</b></u></font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="36" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">9<sup>:00
                </sup>– 9<sup>:30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.18in"><font face="Arial, sans-serif">Регистрация
                участников конференции (Зал Ученого
                совета)</font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="39" valign="TOP" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">9<sup>:30</sup>
                – 10<sup>:30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Открытие конференции,
                приветственные слова:</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Тен
                Эдис Борисович</b> – профессор НИТУ
                МИСИС, Президент АНТОК</span></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Силин
                Яков Петрович</b> – Заместитель
                Председателя Правительства Свердловской
                области</span></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><b>Ли Сын Чен</b><span style="background: #ffffff">
                 - Вице-Президент КОФСТ</span></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Кокшаров
                Виктор Анатольевич</b> - Ректор Уральского
                Федерального университета</span></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Шин
                Ми Кён</b> – Атташе по образованию,
                науке и технологии Посольства Республики
                Корея в России</span></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b><span style="background: #ffffff">Ким
                Вячеслав Николаевич – </span></b><span style="background: #ffffff">Генеральный
                директор </span><span style="background: #ffffff">Общероссийского
                Объединения корейцев</span><br><b><span style="background: #ffffff">Лим
                Сан Хюн</span></b><span style="background: #ffffff"> - 
                Директор Корейско-Российского Центра
                сотрудничества по науке и технологии</span></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in"><font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Цой
                Алексей Данилович –</b> Почетный
                Президент АНТОК</span></font></font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="15" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">10<sup>:30
                </sup>– 11<sup>:20</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Пленарное заседание:</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Сон
                Эдуард Евгеньевич</b> - член-корр. РАН,
                «Современные   проблемы теплофизики
                и энергетики»</span></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.18in"><font face="Arial, sans-serif"><font size="3"><span style="background: #ffffff"><b>Пак</b><span lang="en-US"><b>
                </b></span><b>Бенг</b><span lang="en-US"><b> </b></span><b>Чел</b><span lang="en-US"><b>
                </b></span><span lang="en-US">- </span><span lang="en-US">Korea
                Research Institute of Bioscience &amp; Biotechnology, Daejeon,
                Korea, «Overview of life Science in KRIBB and Korea» (</span>англ<span lang="en-US">.)</span></span></font></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="18" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">11<sup>:20</sup>
                – 11<sup>:30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.18in"><font face="Arial, sans-serif">Перерыв<font color="#000000">
                (кофе брейк)</font></font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="133" valign="TOP" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">11<sup>:30</sup>
                – 13<sup>:20</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.18in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Работа секций:</font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.08in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>БИОТЕХНОЛОГИИ</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Председатель:
                Ким Роберт Григорьевич, д.с.-х.н. Зал
                Ученого Совета</i></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.36in; text-indent: -1.28in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Т.А.
                Платонова   Эпидемиологическая значимость
                больных хроническим вирусным гепатитом
                в семейно-квартирных очагах инфекции</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Cho Sa Yeon  Protein
                tyrosine phosphatases on apoptosis and inflammation</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Р.Г. Ким         
                      Молекулярные маркеры в селекции
                хлопчатника</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Cho
                Kyung-Hyun  High-density lipoprotein (hdl) in aging-related disease
                and non-soluble drug delivery using hd</font></p>
                <p lang="ru-RU" class="western" align="JUSTIFY" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in; widows: 0; orphans: 0">
                <font face="Arial, sans-serif"><font size="3">М.Т. Ри           
                   Математическая модель регуляторного
                контура <span lang="en-US">rob</span>, <span lang="en-US">marr</span>
                <span lang="en-US">and</span> <span lang="en-US">mara</span>
                генной сети <span lang="en-US">escherichia</span> <span lang="en-US">coli</span></font></font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Je Kyung Seong  
                Annotation of human genome through mouse phenotypinghigh-density
                lipoprotein (hdl) in aging-related disease and non-soluble drug
                delivery using hd</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Д.Л. Цой         
                     Трансплантация печени при
                гепатоцеллюлярной карциноме</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.46in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>ЭНЕРГЕТИКА, МЕХАНИКА,
                МАШИНОСТРОЕНИЕ</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Председатель:
                Ким Владимир Алексеевич, д.т.н. Аудитория
                И-310</i></font></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">В.А. Ким Кинетика
                структурных превращений при отпуске
                закаленной стали 15х5М</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">А.Д. Хван    Разработка
                инновационных технологий предварительной
                термо - механической обработки для
                повышения стойкости режущих и
                измерительных инструментов</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Ryu Jae
                Yeol    Development of vehicle speed and size measuring system for
                vehicle classification without mechanical scanning</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Г.Ч.
                Чо  Совместимость установок бесперебойного
                питания и электроприемников собственных
                нужд АЭС</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Yoo Pyeong Jun   
                Flexible pavement dynamic response analysis and validation for
                various truck-tire configurations</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">К.Э. Сон Новые
                типы электрических разрядов в
                газожидкостных средах для экологических
                приложений</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Г.Н.
                Хан Моделирование потери устойчивости
                насыпи методом дискретных элементов
                </font>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">П.А.
                Цой Конечноэлементное моделирование
                экспериментов на сжатие</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Х. С. Пак        
                      Эффективность применения в
                строительстве стальных рам с
                преднапряженным ригелем на Дальнем
                Востоке</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.46in; margin-bottom: 0in">
                 
                </p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>ХИМИЯ, НОВЫЕ МАТЕРИАЛЫ</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Председатель:
                Тхай Валерий Дмитриевич, д.х.н. Аудитория
                М-324</i></font></font></p>
                <p lang="ru-RU" class="western" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Э.Б.
                Тен Термодинамика образования
                хромистого карбида в низкохромистом
                чугуне при его модифицировании</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Jang
                Mongjoo Определение 1,1-диметилгидразина
                методом тандемной газовой
                хромато-масс-спектрометрии</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Kim Jung Keun    <b> 
                </b>Direct Synthesis Of 1,3-Diketones From Carboxylic Acids And
                Ketones. Development Of The Claisen Condensation</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Н.О. Ким         
                     Сравнение качества аптечного сырья
                тысячелистника обыкновенного трава
                (А<span lang="en-US">chilea</span> <span lang="en-US">Millefolii</span>
                <span lang="en-US">Herba</span>) различных производителей
                по наличию в них эфирных масел</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">H.J. Choi    Mechanical
                Properties Of Al/C60 Composites With Nano-Network Structures</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Lee Jae-Seung</font>
                    <font face="Arial, sans-serif">Synthesis and
                reversible assembly of plasmonic nanoparticles</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Н.В. Кузьмина
                     Антибактериальные повязки на основе
                нанокластеров оксигидратных гелей
                циркония, железа и иттрия на фоне
                включений углерода</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">В.Д. Тхай       
                      Взаимодействие SiO2 c расплавами
                хлоридов щелочноземельных металлов
                </font>
                </p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>МЕЖДИСЦИПЛИНАРНАЯ</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Председатель:
                Пак Николай Инсебович, д.п.н. Аудитория
                И-306</i></font></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">А.И. Тен         
                     На Урал за знаниями: социальный
                портрет современного корейца на
                Среднем Урале</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">А.В. Ким         
                     Мотивация трудовой деятельности
                у волонтеров (на примере молодежного
                комитета Ассоциации корейцев Ростовской
                области)</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Н.Е. Ким<font color="#000000">
                              </font>Исследовательская
                деятельность как форма работы с
                одаренными детьми</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Н.И. Пак         
                     Экспертные системы на основе
                ментальной схемы</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Е.К. Хе  Багаж
                будущего инженера: математическая
                азбука и ее доступность</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Д.В. Шин         
                    Участие советских корейцев в Великой
                отечественной войне 1941-1945 гг.</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">И.Б. Фан         
                     Достоинство Российского гражданина</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Н.О. Ли  Анализ
                влияния закона об особой экономической
                зоне на мебельную отрасль Калининградской
                области</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in">
                <font face="Arial, sans-serif">С.Е. Юн  Проблемы
                развития деревопереработки: на примере
                Хабаровского края</font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="33" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">13<sup>:30</sup>
                – 14<sup>:30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.1in"><font face="Arial, sans-serif">Обед
                (кафе в Уральском федеральном
                университете)</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="30" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">14<sup>:40</sup>
                – 16<sup>:40</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.1in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Работа секций:</font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.08in; text-indent: 0in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>БИОТЕХНОЛОГИ</b><b>И
                </b>(продолжение)</font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Председатель:
                Ким Роберт Григорьевич, д.с.-х.н. Зал
                Ученого Совета</i></font></font></p>
                <p lang="ru-RU" class="western" style="margin-bottom: 0in"><br>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.46in; margin-bottom: 0in">
                <font face="Arial, sans-serif">И.К.
                Бессергенева    Эпидемиология 
                энтеровирусных инфекций с клинической
                формой серозного менингита</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Hong Seok
                Cheol   Nanoscopic conformational diversity and dynamics of DNA</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">О.И. Хван       
                     Повреждения почек тупыми предметами
                у живых лиц и их морфологические
                признаки</font></p>
                <p class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Woo E.J. Structural
                and functional studies on the csm complex in crispr/cas system
                from t. onnurineus</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">В.Л. Юн           
                    Влияние солей тяжелых металлов на
                продуктивность растений хрена</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Н.Е. Полякова
                    Изменчивость митохондриальной и
                ядерной днк у комплекса видов
                дальневосточных красноперок <span lang="en-US">tribolodon</span>
                <span lang="en-US">hakonensis</span> и <span lang="en-US">tribolodon</span>
                <span lang="en-US">species</span> на российской части
                ареала (<span lang="en-US">pisces</span>, <span lang="en-US">cyprinidae</span>)</font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>ИНФОРМАЦИОННЫЕ
                ТЕХНОЛОГИИ</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Председатель:
                Ким Валерий Львович, д.т.н. Аудитория
                И-310</i></font></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">И.Е.
                Кан Автоматизация проектирования
                одной ассортиментной группы сложных
                изделий на основе дискретной оптимизации</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">В.Л. Ким Установка
                для исследования медицинских электродов</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Р.В.
                Ким Нейронечеткая диагностика отказов
                систем летательного аппарата</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">П.А. Ким 4<span lang="en-US">d</span>
                камера-обскура</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Л.Б.
                Хегай   Ментальный учебник в роли
                электронного учителя</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; margin-right: 0.2in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">В.С. Хон Применение
                информационного моделирования зданий
                для памятников архитектуры</font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><b>МАТЕМАТИКА И ФИЗИКА</b></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 0.97in; text-indent: -0.89in; margin-bottom: 0in">
                <font face="Arial, sans-serif"><font size="3"><i>Председатель:
                Цой Олег Миронович, к.ф.-м.н. Аудитория
                М-324</i></font></font></p>
                <p lang="ru-RU" class="western" align="CENTER" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <br>
                </p>
                <p lang="ru-RU" class="western" style="margin-left: 1.36in; text-indent: -1.28in; margin-bottom: 0in">
                <font face="Arial, sans-serif">К.Н. Югай.      
                     О возможной природе "комнатной"
                сверхпроводимости</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">А.В. Ким.        
                     Простое умножение обобщенных
                функций</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Д.П. Ким.        
                     Определение нормированной
                передаточной функции</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">Б. Цой            
                     Слоистый "комнатный"
                сверхпроводник</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">В.Т. Эм.          
                     Измерение напряжений в массивных
                образцах методом   дифракции нейтронов</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in; margin-bottom: 0in">
                <font face="Arial, sans-serif">В.Е. Кан.        
                      Исследование дефектного состава
                многостенных углеродных   нанотрубок
                при термических и химических обработках</font></p>
                <p lang="ru-RU" class="western" style="margin-left: 1.46in; text-indent: -1.38in">
                <font face="Arial, sans-serif">О.М. Цой.        
                    Радиолиз в системе атмосфера–педосфера
                и его влияние на  возгорание в
                эфиромасличных лесах</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="11" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">16<sup>:40</sup>
                – 17<sup>:00</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.1in"><font face="Arial, sans-serif">Перерыв
                (кофе брейк)</font></p>
            </td>
        </tr>
        <tr>
            <td width="99" height="24" valign="TOP" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">17<sup>:00</sup>
                – 17<sup>:40</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="margin-left: 0.08in; text-indent: 0.02in">
                <font face="Arial, sans-serif"><font color="#000000">Семинар
                «Высококачественная научная статья»
                А. Локтев, </font><font color="#000000"><font size="3">Издательство
                «</font></font><font color="#000000"><font size="3"><span lang="en-US">Elsevier</span></font></font><font color="#000000"><font size="3">»,
                </font></font><font size="3"><i>Зал Ученого Совета</i></font></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">17<sup>:40</sup>
                – 18<sup>:10</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="text-indent: 0.1in"><font face="Arial, sans-serif">Закрытие
                конференции, подведение итогов</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="19" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">18<sup>:30
                </sup>– 22<sup>:00</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Банкет
                <font color="#000000">(Ресторан «Сеул-Ташкент»)</font></font></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="667" height="21" bgcolor="#f3f3f3" style="border: 1px solid #000000; padding: 0.02in">
                <p lang="ru-RU" class="western" align="CENTER" style="text-indent: 0.1in">
                <font face="Arial, sans-serif"><u><b>5 июля – суббота</b></u></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="15" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">8<sup>:00</sup>
                – 11<sup>:30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Экскурсия</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="14" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">11<sup>:30</sup>
                – 11<sup>:45</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Выезд
                из гостиницы</font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif"><span lang="en-US">1</span>1<sup><span lang="en-US">:</span></sup><sup>45</sup><span lang="en-US">
                – 1</span>2<sup><span lang="en-US">:</span></sup><sup>45</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Обед
                <font color="#000000">(Ресторан «Сеул-Ташкент»)</font></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="45" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.02in; padding-bottom: 0.02in; padding-left: 0.02in; padding-right: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">13<sup>:00</sup>
                – 15<sup>:30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Торжественное
                собрание и праздничный концерт
                <font size="3">посвященный Юбилею добровольного
                переселения корейцев в Россию</font></font></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="99" height="21" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding: 0in">
                <p lang="ru-RU" class="western"><font face="Arial, sans-serif">15<sup>:30</sup>
                – 16<sup>:30</sup></font></p>
            </td>
            <td width="564" style="border: 1px solid #000000; padding: 0in">
                <p lang="ru-RU" class="western" style="margin-left: 0.13in"><font face="Arial, sans-serif">Фуршет</font></p>
            </td>
        </tr>
    </tbody></table>
<% end %>
