h1 => @applic.user.name 
p Ваша заявка на участие в Конференции АНТОК-2014 в Екатеринбурге успешно зарегистрирована. 
p Идентификационный номер участника #{@applic.id}
p По всем вопросам, включая внесение изменений в заявку, обращайтесь по AKSTSRussia@gmail.com.