h1 Поиск своего АНТОК ID
div class="alert alert-info"
  p Поиск производится по точному совпадению. Введите полностью ФИО. Если результат поиска пустой, то попробуйте поиск по фамилии и имени без отчества. Если вы не смогли найти свой ID, то свяжитесь с Ириной Ким - ivkimivkim@gmail.com
fieldset
  = form_tag antok_id_path, :method => "get" do
    p Введите полностью ФИО
    div = text_field_tag :fio, params[:fio]
    = submit_tag "Найти", :name => nil, class: "btn btn-large btn-primary" 
table class="table table-striped"
  tr
    th АНТОК ID
    th ФИО
    th Год рождения
  - var = 0
  - @members.each do |member|
    - var+=1
    tr
      td = member.antok_id
      td = member.fio
      td = member.birth_date.nil? ? "нет данных" : member.birth_date.strftime("%Y")
      / td = l member.birth_date.in_time_zone("Moscow"), format: :short      

 