<% provide(:title, t(:your_application_details)) %>
<div>
  <div class="cert">
    <%= @applic.fio_eng %>
  </div>
  <div class="sign">
    <%= image_tag "edis_sign.png" %>
  </div>
  <%= image_tag "sert2019en.jpeg" %>
</div>
