<% provide(:title, 'Заполнение заявки на конференцию') %>
<h1>Заполнение заявки на конференцию</h1>
<% if antok_member? %>
  <p>Сокращенная форма анкеты для члена АНТОК</p>
<% else %>
  <p>Расширенная форма анкеты для НЕ члена АНТОК</p>
<% end %>
<%= render 'form' %>