<% provide(:title, t(:your_application_details)) %>
<h1 id="h1_your_application_details"><%= t(:your_application_details)%></h1>
<div class="row">
  <div class="col-md-6 applic-form">
    <%= simple_form_for(@applic) do |f| %>
      <%= render 'form_fields', f: f %>
    <% end %>
  </div>
</div>
