<% flash.each do |key, value| %>
<% key_class = key.to_s == 'notice' ? 'alert alert-info' : "alert alert-#{key}" %>
<div class="<%= key_class %>" role="alert">
	<a class="close" data-dismiss="alert">&times;</a>
	<%= value %>
</div>
<% end %>