<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sertificates AKSTS-2019</title>
    <meta name="description" content="sertificates">
    <%= stylesheet_link_tag "certif", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
